<%# 
    Written by : Michael Watkins
    Date : 10/31/24
    Desc : A simple about us for the web application 
    TO-DO : 
    Add Actual text that talks about the place lol 
 %>
<!DOCTYPE html>
<html>
<head>
    <title>About Us!</title>
    <meta name="viewport" content="Width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #262626;
            font-family: Arial, sans-serif;
        }
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; /* Center-aligns the text */
            color: #fff; /* Sets text color to white */
        }

        .loader h1 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 9em;
            color: rgba(255, 255, 255, 0.1);
            background-image: url(https://image.ibb.co/ciSeac/image.png);
            background-repeat: repeat-x;
            -webkit-background-clip: text;
            animation: animate 15s linear infinite;
        }

        @keyframes animate {
            0% {
                background-position: left 0px top 80px;
            }
            40% {
                background-position: left 800px top -50px;
            }
            80% {
                background-position: left 1800px top -50px;
            }
            100% {
                background-position: left 2400px top 80px;
            }
        }

        .loader p {
            font-weight: bold;
            font-size: 20px;
            color: white; /* Ensures the text color is white */
        }
    </style>
</head>
<body>
    <div class="loader">
        <h1>About Us</h1>
        <p>
            Here at our grocery store we only provide the freshest and cleanest food, and with our new addition of
            an online presence we hope to be able to reach further into the communities we are apart of and provide to them a 
            fun and effecient way of buying groceries. 
        </p>
        <hr>

        <p>
            We are commited to staying in the New England area but we are branching out further into the United States, and currently have 80 locations nationwide.
        </p>
        


    </div>
</body>
</html>
